div.header
                div.logo Muhammad Waqas
                nav
                    ul
                        li 
                            a(href='/') Home
                        li 
                            a(href='#') About