.sidenav
        .item
            a(href="/admin")
                img(src="/home.png")
                span.caption Home
        .item
            a(href="/admin/posts/create")
                img(src="/plus.png")
                span.caption Create